<launch>

<node pkg="braccio_controller" name="test_publisher" type="test_publisher.sh" output="screen">
</node>


<node pkg="rosserial_python" type="serial_node.py" name="Arduino_thing" output="screen">
<param name="port" value="/dev/ttyACM0"/>
<param name="baud" value="57600"/>
</node>

</launch>
